body {
    text-align: center;
    font-family: 'JetBrains Mono';
    background-image: url("bg.jpg");
    background-size: cover;
    background-color: #00011d;
    background-repeat: no-repeat;
}

h1{
    color: #F8F8F2;
    margin: 0
}

h2 {
    color: #ff5555;
}

.balance {
    color: #50FA7B;
}

input {
    font-family: 'Jetbrains Mono', 'Courier New';
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin: 1em 0.2em;
}

button {
    font-family: 'Jetbrains Mono', 'Courier New';
    padding: 10px 20px;
    background-color: #465480;
    color: #F8F8F2;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 1em 0.2em;
}

button:hover{
    background-color: transparent;
    background-color: #6272A4;
}

.container {
    border-radius: 5px;
    background-color: rgba(98, 114, 164, 0.4);
    width:fit-content;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    margin: 9em auto;
}

#currencyList{
    background-color:#465480;
    color: #F8F8F2;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 1em 1em;
    font-family: 'Jetbrains Mono', 'Courier New';
    max-width: 50%;
}
